#blur_layer {
    pointer-events: none;
    z-index: 10;
    transition: backdrop-filter .3s;
}

#above_layer {
    pointer-events: none;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    position: absolute;
    background-color: #ffffff80;
    padding: 4px 2px;
    border: 1.2px solid #0004;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #00000060;
    z-index: 10;

    max-width: 240px;
    max-height: 32vh;
    
    opacity: 0;
    backdrop-filter: blur(120px);
    filter: blur(4px);
    transform: translateY(-10%) scale(0.8);
    transition: transform 0.3s ease, opacity 0.2s ease, filter 0.2s ease, box-shadow 0.3s ease;
}

.menu-item {
    font-size: 0.84em;
    color: #000000c0;
    font-weight: 500;

    padding: 0 0.5em;
    margin: 0;
    box-sizing: border-box;
    border-radius: 8px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-item:hover {
    background-color: var(--theme-bg-color);
}

.menu-title {
    font-size: 0.8em;
    color: #0006;
    font-weight: 500;
    padding: 0 6px 2px 6px;
    margin: 0;
    border-bottom: 1.2px solid #0003;
}

.menu-title + .menu-item {
    margin: 2px 0 0 0;
}

#menu.show {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
    box-shadow: 0px 12px 36px #00000040;

    pointer-events: auto;
}