:host {
    font-family: inherit;
    position: absolute;
    box-sizing: border-box;
    overflow: auto;
    height: auto;
    max-height: 22em;
    min-width: 5em;
    max-width: min(25%, 30em);
    border: 1px solid #0003;
    outline: 4px solid #fff0;
    color: var(--font-color);
    background-color: var(--widget-bg-color);
    backdrop-filter: blur(60px) brightness(118%);
    box-shadow: 0 4px 20px var(--shadow-color);
    padding: 0.2em 0.8em 0.8em 0.8em;
    transition: box-shadow .4s ease, padding .4s ease, max-height .3s ease, background-color .4s ease, outline .3s ease, color .3s ease;
    /* js */
    border-radius: 20px;
    visibility: hidden;

    #label {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        height: 2em;
        line-height: 2em;
        white-space: nowrap;
    
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .svgbox {
            svg {
                fill: transparent;
                opacity: 0.35;
                cursor: none;

                transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

                &:hover {
                    transform: scale(120%);
                    opacity: 1;

                    &#move {
                        fill: #66e !important;
                        filter: drop-shadow(0 0 5px #66e);
                    }

                    &#fold {
                        fill: #992 !important;
                        filter: drop-shadow(0 0 5px #992);
                    }

                    &#destory {
                        fill: #e33 !important;
                        filter: drop-shadow(0 0 5px #e33);
                    }
                }
            }
        }
    }
    
    #content {
        width: 100%;
        box-sizing: border-box;
        font-size: 0.88em;

        overflow-y: scroll;
        height: auto;
        max-height: 20em;

        transition: max-height .3s ease, width .3s ease;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

:host(:hover) svg {
    fill: currentColor !important;
}

:host(:not(.folding):hover) {
    background-color: var(--widget-bg-color-hover);
    outline: 4px solid #fff4;
    border: 1px solid #0002;
}

:host(.concentrate) {
    position: relative;
    left: 0 !important;
    top: 0 !important;
    box-shadow: 0px 8px 24px #0002 !important;
    border: 0;
    background-color: var(--widget-bg-color-hover);
    backdrop-filter: blur(240px) brightness(120%);
    max-width: min(50%, 60em);
    max-height: 100%;

    animation: breath 10s infinite ease;

    & > #content {
        max-height: 60vh;
    }
}

@keyframes breath {
    0% { outline: 4px solid #fff4; }
    50% { outline: 8px solid #fff2; }
    100% { outline: 4px solid #fff4; }
}

:host(.folding) {
    max-height: 2.4em;
    padding: 0.2em 0.8em 0.2em 0.8em;
    background-color: var(--widget-bg-color-folding);
    backdrop-filter: blur(80px) brightness(120%);
    color: var(--font-color-folding);
    
    & #content {
        width: 0;
        max-height: 0;
    }
    
    & #fold {
        transform: rotateZ(180deg);
    }
}

:host(.folding:hover) {
    background-color: var(--widget-bg-color);
    color: var(--font-color);

    .svgbox {
        & #fold {
            transform: rotateZ(180deg) scale(120%);
        }
    }
}

:host([type="clock"]) {
    svg#fold,
    svg#check {
        display: none;
    }
}