.contenteditable {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    white-space: wrap;
    word-break: break-all;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    background-color: transparent;
    /* backdrop-filter: brightness(112%); */

    width: 100%;
    height: fit-content;

    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
}

.contenteditable::selection {
    background-color: var(--bg-color-text-selection);
}

.padding_nowarp {
    white-space: nowrap !important;
    padding: 0 0.4em !important;
}