.contenteditable {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    white-space: wrap;
    word-break: break-all;

    margin: 0;
    box-sizing: border-box;
    outline: 0;
    line-height: 1.3em;

    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
}

.contenteditable::selection {
    background-color: var(--bg-color-text-selection);
}

.padding_nowarp {
    white-space: nowrap !important;
    padding: 0 0.4em !important;
}