* {
    transition: text-shadow 0.3s ease-out;
}

:host {
    font-family: 'MiSans VF', 'MiSans', 'HarmonyOS Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;

    position: absolute;
    box-sizing: border-box;

    overflow: auto;
    height: auto;
    max-height: 22em;
    min-width: 5em;
    max-width: min(25%, 30em);

    color: var(--font-color);
    background-color: var(--bg-color-with-alpha);
    backdrop-filter: blur(60px) brightness(120%);
    /* border: 1px solid var(--border-color); */
    box-shadow: 0 0 10px var(--shadow-color);
    /* js */
    border-radius: 20px;

    padding: 0 1em 1em 1em;

    --theme-color: #8686ff;
    --bg-color-with-alpha: #e8e8ff10;
    --font-color: #404045;
    --border-color: #40404515;
    --shadow-color: #40404520;
    --bg-color-text-selection: #8686ff80;
}

#label {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    height: 2em;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;

    /* cursor: move; */

    font-weight: 800;
    font-size: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-decoration: underline transparent 0px;
    transition: text-decoration 0.1s ease;
}
#label:hover {
    text-decoration: underline var(--theme-color) 2px;
}


svg {
    height: 0.8em;
    width: 0.8em;
    fill: transparent;
    opacity: 0.35;

    transition: all 0.24s ease;
}
#label:hover>svg {
    fill: currentColor;
}
svg:hover {
    transform: scale(120%);
    opacity: 1;
    fill: var(--theme-color) !important;
}

#content {
    width: 100%;
    box-sizing: border-box;
    font-size: 0.88em;
    user-select: none;

    overflow-y: scroll;
    height: auto;
    max-height: 20em;

    /* border-radius: 6px; */
}

::-webkit-scrollbar {
    display: none;
}